<div class="modal fade" tabindex="-1" id="definition-steganographie">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Definition</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Modal body text goes here</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" tabindex="-1" id="geheime-kommunikation">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body">
          <img src="/assets/geheime-Kommunikation.svg" height="auto" width="auto">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" tabindex="-1" id="kryptologie">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body">
          <img src="/assets/kryptologie.svg" height="auto" width="auto">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" tabindex="-1" id="caesar-verschluesselung">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Definition</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Cäsar</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" tabindex="-1" id="vigenere-quadrat">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Definition</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Modal body text goes here</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade modal-lg" tabindex="-1" id="enigma">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Definition</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Das erste Modell einer Masschine der Enigma Maschine wurde 1923 von Ingenieur Arthur Scherbius der Öffenlichkeit vorgestellt. Das Patent hierfür wurde 1918 angmeldet. Es gab einige Enigma Versionen im Laufe der Entwicklung, die allgemein als Enigma bezeichnete ist allerdings das Modell Enigma I. Enigma ist das berühmt berüchtigte Verschlüsselungsgerät der Wehrmacht gewesen und war ein großer Sprung der Verschlüsselungstechnik. Es wurde 1939 von Alan Turing und seinem Team im Auftrag des Britischen Geheimdienstes Entschlüsselt. Dies war ausschlaggebend in den folgenden Kriegsjahre.</p>
          <p>Enigma ist eine symmetrische polyalphabetische Verschlüsselungeinheit. Welche mithilfe mehrerer drehbarerer Rotoren auf Schlüsselwörter eingestellt werden konnte, darüber hinaus gibt es ein selbst einstellbares Steckbrett. Es gibt durch eben diese Einstellungsmöglichkeiten 158.962.555.217.826.360.000 mögliche Schlüssel.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>