<nav class="navbar navbar-expand-lg sticky-top bg-white">
    <div class="container-fluid">
      <a class="navbar-brand fs-1" href="#">Kryptographie</a>
      <div class="collapse navbar-collapse gap-2" id="navbarSupportedContent">
      <button type="button" class="btn btn-lg btn-outline-secondary nav-item" data-bs-toggle="modal" data-bs-target="#geheime-kommunikation">Geheime Kommunikation</button>
      <button type="button" class="btn btn-lg btn-outline-secondary nav-item" data-bs-toggle="modal" data-bs-target="#kryptologie">Kryptologie</button>
      <button type="button" class="btn btn-lg btn-outline-secondary nav-item" data-bs-toggle="modal" data-bs-target="#quellen">Quellen</button>

    </div>
    </div>
  </nav>